<h1>{{title}}</h1>
<h3>Add a Shelter</h3>
<div id="error" class="error" hidden>I'm an error</div>
<form method="post" id="addShelter">
    <label id="shelterNameLabel">
        Shelter Name
        <input type="text" id="shelterName" name="shelterName" placeholder="Shelter Name"/>
    </label>
    <label id="cityFormLabel">
        City
        <input type="text" id="shelterCity" name="shelterCity" placeholder="City"/>
    </label>
    <label id="stateFormLabel">
        State
        <input type="text" id="shelterState" name="shelterState" placeholder="State"/>
    </label>
    <label id="killShelterFormLabel">
        Kill Shelter
        <input type="checkbox" id="killShelter" name="killShelter"/> 
    </label>
    <button type="submit">Add Shelter</button>
</form>