<h1>{{title}}</h1>
<div id="error" class="error" hidden>I'm an error</div>
<form method="post" id="deleteReview">
    <label id="reviewIdFormLabel">
        Review ID
        <input type="text" id="reviewID" name="reviewID" placeholder="Review ID"/>
    </label>
    <button type="submit">Delete Review</button>
</form>