<h1>{{title}}</h1>
<h3>Add a Shelter</h3>
<form action="/shelters" method="POST">
    <div>
        <label>
            Shelter Name
            <input type="text" name="shelterName" placeholder="Shelter Name"/>
        </label>
    </div>
    <div>
        <label>
            City
            <input type="text" name="shelterCity" placeholder="City"/>
        </label>
    </div>
    <div>
        <label>
            State
            <input type="text" name="shelterState" placeholder="State"/>
        </label>
    </div>
    <div>
        <label>
            Kill Shelter
            <input type="checkbox" name="killShelter"/> 
        </label>
    </div>
    <button type="submit">Add Shelter</button>
</form>
<h3>Remove a Shelter</h3>
<form action="/shelters" method="POST">
    <div>
        <label>
            Shelter Id
            <input typ="text" name="shelterId" placeholder="Shelter ID"/>
        </label>
    </div>
    <button type="submit">Delete Shelter</button>
</form>
<a href="/about">Home</a>