<h3>Remove a Shelter</h3>
<div id="removeerror" class="error" hidden>I'm an error</div>
<form method="post" id="removeShelter">
    <label id="idFormLabel">
        Shelter ID
        <input type="text" id="shelterID" name="shelterID" placeholder="Shelter Name"/>
    </label>
    <button type="submit">Remove Shelter</button>
</form>