<h1>{{title}}</h1>
<div id="error" class="error">{{error}}</div>
<form method="post" id="removeComment">
    <label id="commentIdFormLabel">
        Comment ID
        <input type="text" id="commentID" name="commentID" placeholder="Comment ID"/>
    </label>
    <button type="submit">Delete Comment</button>
</form>