<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="../public/css/main.css">
    </head>
    <body>
         <div class="topnav">
            <a href="/">Home</a>
            <a href="/shelters">Shelters</a>
        </div>
        <main>
            {{{body}}}
        </main>
        <footer>
            <div class="div-bg"></div>
        </footer>
        <script src="../../public/js/add.js"></script>
        <script src="../../public/js/remove.js"></script>
    </body>
</html>